@import "cover.css";
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Roboto);

/*
@accent1: #80D1BE;
@accent2: #FFE6A6;
@accent3: #F2A482;
@accent4: #F04050;
@accent5: #B3373C;
@accent6: #3e3e3e;
*/
@accent1: #2ecc71;
@accent1_dark: #27ae60;
@accent2: #3498db;
@accent2_dark: #2980b9;

@boxsize: 100px;
@duration: 64s;

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Fjalla One', sans-serif;
}

.cover {
}

.block-links {
}

.block-link {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -@boxsize / 2;
  margin-top: -@boxsize / 2;

  width: @boxsize;
  height: @boxsize;
  line-height: @boxsize;

  background: linear-gradient(to bottom, @accent1_dark, darken(@accent1_dark, 20%));
  border: 1px solid darken(@accent1_dark, 10%);
  border-radius: @boxsize / 2;

  -webkit-animation-duration: @duration;
  -webkit-animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.block-link:hover {
  background: linear-gradient(to bottom, @accent1, darken(@accent1, 20%));
  text-decoration: none;
}

.block-link span {
  font-size: 1.5em;
}

.circle-position-static(@angle) {
  left: 50% + cos(@angle) * 33%;
  top: 50% + sin(@angle) * 33%;
}

.circle-position(@angle) {
  -webkit-animation-delay: (@angle / 360deg) * -@duration;
}

.block-link.github {
  .circle-position(0deg);
}
.block-link.linkedin {
  .circle-position(72deg);
}
.block-link.twitter {
  .circle-position(144deg);
}
.block-link.projects {
  .circle-position(216deg);
}
.block-link.photo {
  .circle-position(288deg);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg) translateX(300px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(300px) rotate(-360deg);
  }
}

.block-link.open {
  background: linear-gradient(to bottom, @accent2_dark, darken(@accent2_dark, 20%));
}
.block-link.open:hover {
  background: linear-gradient(to bottom, @accent2, darken(@accent2, 20%));
}

.block-links.pause-animation .block-link {
  -webkit-animation-play-state: paused;
}
